<div class="recipe-preview">
  <h2>{{ recipe.title }}</h2>

  <h3>Ingredients</h3>
  <ul>
    {% for ingredient in recipe.ingredients %}
      <li>
        {{ ingredient.amount }} {{ ingredient.ingredient }}
        {% if ingredient.extra %}
          ({{ ingredient.extra }})
        {% endif %}
	      ({{ ingredient.category }})
      </li>
    {% endfor %}
  </ul>

  <h3>Steps</h3>
  <ol>
    {% for step in recipe.steps %}
      <li>{{ step }}</li>
    {% endfor %}
  </ol>
</div>